<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>spf-express sample</title>
</head>
<body>
<div id="container">
    <h2 id="target">Raw html styling :(</h2>
    <a class="spf-link" href="/">Click on me</a>
</div>
<script src="/static/javascript/spf.js"></script>
<script>spf.init()</script>
</body>
</html>
